//$border: #c3c3c3;
$shadow: rgba(0, 0, 0, 0.35);

$background: #e5e5e5;
$blue: #59a6c0;
$brick: #e66559;
$teal: #3ea397;
$darksilver: #cfcdcc;
$lightsilver: #f1f0f0;
$charcoal: #575756;
$white: #ffffff;
$red: #e73137;
$black: #000000;
